<!-- memberLookup.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <title>Member Lookup</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

<h2>Member Lookup</h2>

<form action="/performMemberLookup" method="post">
    <input type="text" name="searchQuery" placeholder="Member ID or Full Name" required>
    <button type="submit">Search</button>
</form>

</body>
</html>