<!DOCTYPE html>
<html>
<head>
    <title>Update Profile</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

<h2>Update Profile</h2>
<form action="/updateProfile" method="post">
    <input type="text" name="firstname" placeholder="First Name" required>
    <input type="text" name="lastname" placeholder="Last Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="New Password" required>
    <input type="date" name="dateofbirth" placeholder="Date of Birth" required>
    <button type="submit">Update</button>
</form>

</body>
</html>