/* Dark mode background and text colors */
body {
    background-color: #313338;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Centering forms and giving them some space */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #2b2d31;
    padding: 20px;
    border-radius: 5px;
}

/* Create a fixed navbar for the menu icon */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #313338; /* Same as body for consistency */
    padding: 10px; /* Add padding as needed */
    box-sizing: border-box;
    z-index: 1000; /* Ensure it's above other content */
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6a4ca5;
    background-color: #2b2d31;
    color: white;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #6a4ca5;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: darken(#6a4ca5, 10%);
}


#menu-icon {
    cursor: pointer;
    color: white;
}

.menu {
    display: none; 
    position: absolute; 
    background-color: #2b2d31; 
    min-width: 160px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    padding: 12px 16px; 
    z-index: 100; 
    top: 40px; 
    left: 10px; 
    border-radius: 5px; 
}

/* Styling for the menu items */
.menu p, .menu a {
    color: white; 
    padding: 8px 12px; 
    text-decoration: none; 
    display: block; 
}

.menu p:hover, .menu a:hover {
    background-color: #313338; 
}

a {
    color: #6a4ca5;
    text-decoration: none;
}

/* Ensuring that all text is legible in dark mode */
.editable, .draggable-panel, th, td {
    background-color: #2b2d31;
    color: white;
}

.panel-header, .draggable-panel {
    border: 1px solid #313338;
}

ul, li {
    list-style-type: none;
}

/* Styles for the buttons */
.edit-button, .confirm-edit, .delete-fitness-goal, .delete-health-metric {
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 10px; 
    border: none; 
    background-color: #6a4ca5; 
    color: white; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
    max-width: 65px;
}

/* Styles for hovering over the buttons */
.edit-button:hover, .confirm-edit:hover, .delete-fitness-goal:hover, .delete-health-metric:hover {
    background-color: darken(#6a4ca5, 10%); 
}

.draggable-panel {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

/* Adding some space around the main content */
.container {
    margin: 20px;
    width: auto;
}

/* Specific styles for certain elements */
.control-buttons, .add-button, .remove-song, .play-button, .pause-button {
    color: #6a4ca5;
}

.artwork {
    border: 2px solid #6a4ca5;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

/* FullCalendar Custom Styles */
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-item,
.fc-unthemed .fc-list-heading td {
  border-color: #565656;
}

.fc-unthemed .fc-popover {
  background-color: #2b2d31;
  color: white;
}

.fc-unthemed .fc-list-heading td {
  background-color: #6a4ca5;
}

.fc-unthemed .fc-today {
  background: #6a4ca5;
  color: white;
}

.fc-unthemed .fc-event,
.fc-unthemed .fc-event-dot {
  background-color: #6a4ca5;
  border-color: #6a4ca5 !important;
  color: white;
}

.fc-unthemed .fc-event .fc-title,
.fc-unthemed .fc-event:hover .fc-title,
.fc-unthemed .fc-event .fc-list-item-title,
.fc-unthemed .fc-event:hover .fc-list-item-title {
  color: white;
}

/* FullCalendar header buttons */
.fc button {
  background: none;
  color: white;
  font-size: 1em;
}

/* Today's date number */
.fc-unthemed .fc-today {
  color: white;
}

/* Event colors */
.fc-event {
  background-color: #6a4ca5;
  border: none;
}

/* Calendar header */
.fc-header-toolbar {
  margin-bottom: 1em;
}

/* Today indicator color */
.fc-today-button {
  background-color: #6a4ca5;
  border: none;
}

/* Current day background */
.fc-today {
  background-color: #313338 !important;
  opacity: 0.75;
}

/* Calendar event colors */
.fc-event,
.fc-event-dot {
  background-color: #6a4ca5;
  border-color: #6a4ca5;
}

/* Current day text color */
.fc .fc-day-top .fc-day-number {
  color: white;
}

/* Active day background color */
.fc .fc-day-top .fc-day-today {
  background-color: #6a4ca5;
  color: white;
}


/* Add a container for buttons if they're not wrapped already */
.header-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100; 
  }

/* Style for individual buttons */
.header-buttons button {
    padding: 5px 10px; 
    font-size: 0.8rem; 
    margin-bottom: 5px; 
}


#calendar {
    margin-top: 200px; 
}
/* Hover effects for interactive elements */
.control-buttons:hover, .add-button:hover, .remove-song:hover, .play-button:hover, .pause-button:hover {
    color: lighten(#6a4ca5, 10%);
}
